<!-- TODO: hover over shows titans name -->
<a href="/titans/<%= titan.id %>">
  <div class="card mb-4 box-shadow titan" data-id="<%= titan.id %>">
    <%= image_tag titan.thumb_image.to_s, width: '100%' %>
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary"><%= titan.id %></button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</a>