<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Book Recommendations From Titans </h1><p class = "subheading">Today a reader tomorrow a leader</p>
      <p>
      </p>
    </div>
  </section>
  <div><%= link_to "Create new Titan", new_titan_path if logged_in?(:site_admin)  %></div>
<div class="album">
<div class = "container">
      <div class="row row-2 <%= "sortable" if logged_in?(:site_admin) %>">
        <%= render @titans %>
      </div>
      </div>
  </div>

</main>