<div class = "container titan-container" style="margin-top: 2rem; margin-bottom: 2rem; ">
    <div class = "row">
    <div class = "col-lg-7">
      <%= image_tag titan_img(@titan.main_image, 'main'), width: '100%' %>
    </div>
    <div class = "col-lg-5 ">
      <h1><%= @titan.name %></h1>
      <p><%= @titan.body %></p>
     </div>
   </div>
</div>

<!-- TODO: Add description field to titan model -->