  <div class="jumbotron jumbo">
        <%= image_tag  "https://brainstack.s3.us-east-2.amazonaws.com/uploads/titan/thumb_image/10/cover.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEI2OU6JGYQVMPQA%2F20200816%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20200816T154101Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=aa6765c7643231fc22ea6ee293be8da7a0ce894ab9aaf21f27b034770d339c33", width: 800, height: 320 %>
      </div>