  <div class = "container py-3">
  <div class = "masthead clearfix row float-right">
  <nav class = "nav nav-masthead float-right">
    <div><%= link_to "Books", root_path, class: 'nav-link'%></div>
    <div><%= link_to "Titans",titans_path, class: 'nav-link'%></div>
    <div><%= link_to "Articles", articles_path, class: 'nav-link' %></div>
  </nav>
</div>
</div>