

<div class = "newsletter">
<div class = "row news-row">
<div class = "col-lg-6 tweets">
<div>
<%= image_tag "https://brainstack.s3.us-east-2.amazonaws.com/uploads/tweet+1.png", class: 'tweet', width: 350, height: 225 %>
</div>
<div>
<%= image_tag "https://brainstack.s3.us-east-2.amazonaws.com/uploads/tweet22.png", class: 'tweet', width: 350, height: 250 %>
</div>
</div>
    <div class = "col-lg-6 form-img subheader">
    <%= image_tag "https://brainstack.s3.us-east-2.amazonaws.com/uploads/titan/thumb_image/3/Messages_Image_1655286618_.jpeg", width: 450, height: 450, class: 'hand' %>
    </div>
</div>
<div id = "newsform"">
     <%= render partial: 'shared/newsform', locals: {showThis: true} %>
     </div>
<br>
<br>
<script async data-uid="e17220357a" src="https://dogged-hustler-6773.ck.page/e17220357a/index.js"></script>
</div>
<script>
window.scrollBy(-100, 0);
</script>