
<div class = "newsletter">
<div class = "row news-row">
<div class = "col-lg-6 tweets">
<div>
<%= image_tag "https://brainstack.s3.us-east-2.amazonaws.com/uploads/titan/main_image/2/tweet_1.png", class: 'tweet', width: 325, height: 200 %>
</div>
<div>
<%= image_tag "https://brainstack.s3.us-east-2.amazonaws.com/uploads/titan/thumb_image/2/tweet2.png", class: 'tweet', width: 325, height: 200 %>
</div>
</div>
    <div class = "col-lg-6 form-img subheader">
    <%= image_tag "https://brainstack.s3.us-east-2.amazonaws.com/uploads/titan/thumb_image/3/Messages_Image_1655286618_.jpeg", width: 400, height: 350 %>
    </div>
</div>
<%= render 'shared/newsform' %>
</div>