@import "bootstrap";
@import "gritter";
@import "font-awesome";

.container {
  max-width: 950px;
}

li {
  margin-top: 1rem;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.jumbotron {
       background-size: 900px 360px;

  background-image: url(https://brainstack.s3.us-east-2.amazonaws.com/uploads/titan/main_image/1/cover.jpeg);
    width: 900px;
  height: 360px;
  padding: 0;
  background-color: white;
}
.btn {
  background-color: black;
  border-color: black;
}
.mj {
  padding-right: 1.5rem;
}

.book-index {
  margin: 0rem 0rem 0rem 0rem;
  display: flex;
}
.jumbotron {
  padding: 0;
  background-color: white;
}
.book-header {
    display: block;
    font-size: 18px;
}
.book-header .nav-item {
  padding: 0.6rem;
}

.grid {
   display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 65px; 
  grid-row-gap: 2rem; 
}

.text {
  margin-left: 1rem;
}
 .w-dyn-list {
   display: block;
 }

 .w-clearfix{
   display: table; 
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
 }

 .filter-item {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    float: left;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
 }
 .filter-item a {
    text-decoration: none;
 }

 .preview-text {
   font-size: 13px;
 }
 .book-preview-img {
       box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
 }

 p {
   margin-top: 0.2rem;
   margin-bottom: 0.2rem;
 }
.special-br {
  margin-top: -1.5rem;
}


 a:hover {
   color: black;
 }

 .book-a {
   color: black;
 }

 .text a {
   color: black;
 }


 .create-note a {
   color: blue;
 }

 .title {
   font-weight: bold;
 }

 .author {
   font-style: italic;
 }

 .author-2 {
      font-style: italic;
   font-size: 20px;

 }

 .top-container {
   display: flex;
   justify-content: center;
 }

 .blocking {
   display:flex;
     margin-bottom: -10px;
 }


 .book {
   width: 230px;
    height: 320px;
    display: flex; 
    margin: auto;
    justify-content: center;
       box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
    transition: all .3s ease-in-out;
    transform-origin: left center 0px;
    transform-style: preserve-3d;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
 }
 .box-out .book::before {
    content: " ";
    z-index: 999;
    display: block;
    width: 20px;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: -12px;
    right: 8px;
    transition: all .25s;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD8AAABhCAYAAABh23lYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHCSURBVHgB7dxPTsJAHMXxN7Xu3UhigobxJHACvQFwAr2BcgO8AZxE7uGiDZiQyEIW7oSOUyKbKgLS8u+9b9JNF818fum0XdWUhy9VEDZBGIdBGD6DsFM3bQYgTnjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNZ2hR/7o+UcmnCIsaNCbLcU/RR8oB1bO/4+17l8ixoGeIBBBVvMXI0ih+L7Df2j8iiqnvgh+AVVUXDOTZvF4tNb2qC7DJ1tNgSDO78tblFQxeE92l+0NSjZDjaoMowqyYl7hDF15JzL+x+YHtxLgFq/ZO2m8LT4wsb90nUjmMD61XaRc7ng5+jBua29ntsecq6oIWyELxqdLe8h/GvPp+h0T28D/FezZ8Ip7pHgZt3X5NoPvH1BZ5sNIUTDL7C+6hBWxxt0gk+00tsOe96qH0zL8GO4pBtMg/YhoLMtG8Ii/EpfY4fSoiFk8UeFzpYdwhz/jiNGZ0uHEBjUEzftohJFZyAsdX8BM0/amLC3spYAAAAASUVORK5CYII=');
    background-size: 16px;
    background-repeat: no-repeat;
}
.box-out .book::after {
    content: " ";
    display: block;
    opacity: 0;
    width: 180px;
    height: 255px;
    position: relative;
    left: 8px;
    transition: all .3s ease;
}
.book:hover {
    cursor: pointer;
    transform: rotateY(-20deg) rotateZ(-2deg) scale(1.02);
    -webkit-backface-visibility: hidden;
    box-shadow: 1px 3px 2px 4px rgba(0,0,0,.1), 20px 0px 0 #EDD5BC;
    /* transform: scale(1.02); */
}
#js-title {
  font-size: 3rem;
}
.blocking p {
  font-size: 1.5rem;
}

.book:hover::after {
    content: " ";
    display: block;
    opacity: 1;
    width: 172px;
    height: 255px;
    position: relative;
    left: 8px;
    background: linear-gradient(-180deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 0) 60%);
}

.book:hover::before {
    transform: translateY(9px);
    opacity: 1;
}

 .book-img {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
 }

.buy {
color: #2A7FB7;
font-size: 1.5rem;
font-weight: bold;
}
.news-form {
  text-align: center;
}

.blog-footer {
  padding: 2rem 0;
  color: #999;
  text-align: center;
  border-top: .05rem solid #e5e5e5;
}
 @media (max-width: 800px) {
   .jumbotron {
     display: flex;
     justify-content: center; 
     margin: auto;
     width: 500px;
     height: 300px;
     margin-bottom: 20px;
    background-repeat: no-repeat;
     background-size: 500px 300px;
     background-image: url(https://brainstack.s3.us-east-2.amazonaws.com/uploads/titan/main_image/1/cover.jpeg);
   }
 }
    @media (max-width: 500px) {
   .jumbotron {
         display: flex;
     justify-content: center; 
     margin: auto;
     width: 300px;
     height: 200px;
     margin-bottom: 20px;
    background-repeat: no-repeat;
     background-size: 300px 200px;
     background-image: url(https://brainstack.s3.us-east-2.amazonaws.com/uploads/titan/main_image/1/cover.jpeg);
   }
    }

