@import "bootstrap";
@import "jquery-ui";
@import "gritter";
:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.never {
  display: flex;
  align-items: center;
}
.titan {
  margin: 20px;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
.titan-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


/* custom styles */
.titan-form {
  padding: 35px;
}
.row-2 {
  padding: 15px;
    display: flex;
  align-items: center;
  justify-content: center;
}
.titan-container {
  padding-top: 30px;
}

.btn {
  background-color: black;
  border-color: black;
}

.btn:hover {
  background-color: black;
  border-color: black;
}

.box-image {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;

  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.box-image:hover .image {
  opacity: 0.3;
}

.box-image:hover .middle {
  opacity: 1;
}

.text:hover {
    background: black;
    color: white;
    border-color: black;
}

.grid {
   display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 30px; 
  grid-row-gap: 2rem; 
}
.book {
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
}

.text {
    border-radius: 25px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid black;
    font-family: "Raleway", "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

